



.exercices{
    margin-top: 17px;
    margin-bottom: 17px;
    background-color:transparent;
    margin: auto;
    border: none;
    padding: 10px;
    font-family: 'Pacifico';
    color:#111;
    font-size: 18px;
    text-shadow:1px 1px rgba(255, 255, 255, 0.847);
}

.exercices:hover{
    scale: 1.8;
}